<section>
  <div class="pt-3 pb-3 mb-0">
    <div class="container">
      <h1 class="display-3">Venues</h1>
      <p>Create, view and edit venues.</p>
      <button class="btn btn-primary" (click)="openModal(null)">Create New</button>
    </div>
  </div>
  <hr class="mb-4">
  <div class="container mb-5">
    <div class=" d-flex">
      <form class="ml-auto"
        [formGroup]="searchForm"
        (ngSubmit)="onSearchSubmit()">
        <input type="text" id="search" formControlName="search">
        <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>
      </form>
    </div>
    <ngx-datatable
      columnMode="force"
      class="dark"
      [rows]="rows"
      headerHeight="45"
      rowHeight="45"
      [columns]="columns"
      [externalSorting]="true"
      [sorts]="sorts"
      (sort)="onSort($event)">
    </ngx-datatable>
  </div>
</section>

<ng-template #actionTmpl let-venue="value">
  <button class="btn btn-primary btn-sm action-btn" (click)="openModal(venue)">View/Edit</button>
</ng-template>

<div class="col-xs-12 col-12" *ngIf="totalItems > queryParameters.pageSize">
  <pagination [totalItems]="totalItems"
              [itemsPerPage]="queryParameters.pageSize"
              [(ngModel)]="currentPage"
              [maxSize]="5"
              [rotate]="true"
              (pageChanged)="updateUrl('page', $event.page)">
  </pagination>
</div>
