<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="venueForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group" [ngClass]="{'has-error': nameField.touched && nameField.invalid}">
      <label for="name" class="center-block">Name</label>
      <input *ngIf="mapsLibraryLoaded" type="text" name="name" id="name" class="form-control" formControlName="name"
             autocomplete="nope"
             ngx-google-places-autocomplete
             [options]="googlePlacesAutocompleteOptions"
             (onAddressChange)="handleAddressChange($event)"/>
      <input *ngIf="!mapsLibraryLoaded" type="text" name="name" id="name" class="form-control" formControlName="name"/>
      <p class="errortext" *ngIf="nameField.touched && nameField.invalid">
          This field is required!
      </p>
    </div>
    <div formGroupName="location" class="form-row">
      <div class="form-group col-md-6" [ngClass]="{'has-error': lat.touched && lat.invalid}">
        <label class="center-block">Location Latitude
          <input type="number" class="form-control" formControlName="lat" (blur)="validateLocation('lat', $event.target.value)">
        </label>
        <p class="errortext" *ngIf="lat.touched && lat.invalid">
          <span *ngIf="lat.hasError('required')">This field is required!</span>
          <span *ngIf="lat.hasError('precision')">Enter at least 2 digit for precision!</span>
        </p>
      </div>
      <div class="form-group col-md-6" [ngClass]="{'has-error': lng.touched && lng.invalid}">
        <label class="center-block">Location Longitude
          <input type="number" class="form-control" formControlName="lng" (blur)="validateLocation('lng', $event.target.value)">
        </label>
        <p class="errortext" *ngIf="lng.touched && lng.invalid">
          <span *ngIf="lng.hasError('required')">This field is required!</span>
          <span *ngIf="lng.hasError('precision')">Enter at least 2 digit for precision!</span>
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="street">Street Line 1</label>
      <input type="text" name="street" id="street" class="form-control" formControlName="street">
    </div>
    <div class="form-group">
      <label for="street2">Street Line 2</label>
      <input type="text" name="street2" id="street2" class="form-control" formControlName="street2">
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input type="text" name="city" id="city" class="form-control" formControlName="city">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text" name="state" id="state" class="form-control" formControlName="state">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" name="country" id="country" class="form-control" formControlName="country">
    </div>
    <div class="form-group" [ngClass]="{'has-error': zipCode.touched && zipCode.invalid}">
      <label for="zipCode">Zip Code</label>
      <input type="text" name="zipCode" id="zipCode" class="form-control" formControlName="zipCode">
      <p class="errortext" *ngIf="zipCode.touched && zipCode.invalid">
        Must be 5 digits.
      </p>
    </div>
    <div class="form-group" [ngClass]="{'has-error': url.touched && url.invalid}">
      <label for="url">External URL</label>
      <input type="text" name="url" id="url" class="form-control" formControlName="url">
      <p class="errortext" *ngIf="url.touched && url.invalid">
        Please enter a valid URL.
      </p>
    </div>
    <div class="mb-4 float-left" *ngIf="venue">
      <button type="button" class="btn btn-danger" (click)="deleteVenue()">Delete</button>
    </div>
    <div class="mb-4 float-right">
      <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="venueForm.pristine || venueForm.invalid">Submit</button>
    </div>
  </form>
</div>
