<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>304924934091-5tluo3sg3cfsht3ri04raj27b7dhdr2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304924934091-5tluo3sg3cfsht3ri04raj27b7dhdr2u</string>
	<key>API_KEY</key>
	<string>AIzaSyADyE6jz4KUZ0RwuG03vejHLojP-ph-nKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>304924934091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.concentricsky.enterprise.Portl</string>
	<key>PROJECT_ID</key>
	<string>portl-dev-1d042</string>
	<key>STORAGE_BUCKET</key>
	<string>portl-dev-1d042.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304924934091:ios:9c7923036b1b2618</string>
	<key>DATABASE_URL</key>
	<string>https://portl-dev-1d042.firebaseio.com</string>
</dict>
</plist>