<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>470913331438-ou57b4qc232eghg0siejeg8iq2algnqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470913331438-ou57b4qc232eghg0siejeg8iq2algnqf</string>
	<key>API_KEY</key>
	<string>AIzaSyB0rpruVikRAelpyp3JUcH2apiQdjix5lE</string>
	<key>GCM_SENDER_ID</key>
	<string>470913331438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.portl.app</string>
	<key>PROJECT_ID</key>
	<string>portl-fe374</string>
	<key>STORAGE_BUCKET</key>
	<string>portl-fe374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:470913331438:ios:554847085217018a</string>
	<key>DATABASE_URL</key>
	<string>https://portl-fe374.firebaseio.com</string>
</dict>
</plist>